---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import { Badge } from '@/components/ui/badge'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">
          Hi, my name is Nadia Taradhita but you can just call me <b>Tara</b>.
        </p>
        <p>
          My first exposure to coding was in high school when I started
          customizing HTML themes on my Tumblr page. Fast forward since then, I
          graduated with a Bachelor of Computer Science degree from Udayana
          University and currently I am very grateful to develop numerous
          services as a back end developer at Timedoor Indonesia.
        </p>
      </div>

      <h2 class="mb-4 text-2xl font-medium">Tech Stacks</h2>
      <div class="mb-8 flex flex-wrap justify-center gap-2">
        <Badge variant="outline">PHP</Badge>
        <Badge variant="outline">Laravel</Badge>
        <Badge variant="outline">JavaScript</Badge>
        <Badge variant="outline">Node.js</Badge>
        <Badge variant="outline">Express.js</Badge>
        <Badge variant="outline">TypeScript</Badge>
        <Badge variant="outline">NestJS</Badge>
        <Badge variant="outline">Python</Badge>
        <Badge variant="outline">Go</Badge>
        <Badge variant="outline">MySQL</Badge>
        <Badge variant="outline">PostgreSQL</Badge>
        <Badge variant="outline">Vue.js</Badge>
        <Badge variant="outline">AWS</Badge>
      </div>

      <h2 class="mb-4 text-2xl font-medium">Projects</h2>
      <div class="flex flex-col gap-4">
        {projects.map((project) => <ProjectCard project={project} />)}
      </div>
    </div>
  </section>
</Layout>
